{% extends "index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <div class="container mt-4">
            <form action="" class="w-50 m-auto border p-3" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="">Resim</label>
                <input type="file" name="foto" class="form-control">
                <label for="">Ürün İsmi</label>
                <input type="text" name="isim" class="form-control">
                <label for="">Ürün Açıklaması</label>
                <input type="text" name="aciklama" class="form-control">
                <label for="">Fiyat</label>
                <input type="number" name="fiyat" class="form-control">
                <input type="submit" value="Oluştur" class="btn btn-outline-warning mt-3">
            </form>
        </div>
    {% endblock content %}
    
</body>
</html>